.app__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app__header a {
  color: #fff;
}

.app__header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app__header-title {
  font-size: 1.5em;
}
