body {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

/* Unordered Lists */

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

ul ul {
  padding-top: 20px;
  padding-bottom: 0;
}

/* App */

.app { }

.app__content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.breadcrumb {
  padding: 0 0 20px 0;

  /* override boostrap */
  margin: 0;
  background-color: transparent;
}

.messages {
  display: block;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #ebebeb;
}

/* Posts */

.post__content {
  margin: 10px 0 20px;
}

.post__comments {
  border-top: 1px solid #000;
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
}

.post__comment {
  padding-bottom: 30px;
  clear: both;
}

.post__meta {
  padding-bottom: 20px;
}

.post__comment-body {
  padding-bottom: 12px;
}

.post__comment-meta-date {
  white-space: nowrap;
}

.post__voting {
  padding: 10px 0;
}

@media (min-width: 768px) {
  .post__comment-body {
    float: left;
    width: 70%;
    padding-bottom: 0;
  }

  .post__comment-meta {
    float: right;
    text-align: right;
    width: 20%;
  }
}
