body {
  margin: 0;
  padding: 0;
}

/* Unordered Lists */

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

ul ul {
  padding-top: 20px;
  padding-bottom: 0;
}

/* App */

.app {
}

.app__content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.breadcrumb {
  padding-bottom: 20px;
}

.messages {
  display: block;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #ebebeb;
}

/* Posts */

.post__content {
  margin: 10px 0 20px;
}

.post__comments {
}
