
html {
  font-size: 62.5%
}

body {
  font-family: "Couriier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  outline: none;
  color: #ae0000;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2em;
}

.breadcrumb {
  font-size: .9em;
  color: #505050;
}

.error {
  color: red;
}

.button--remove {
  color: #ae0000;
}

.post__meta,
.post__comment {
  color: #696969;
  font-size: .9em;
}

.post__meta-author,
.post__comment-meta-author {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

.post__voting .glyphicon {
  cursor: pointer;
}
